<configuration>

    <dataSource>
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://myBaits"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </dataSource>
</configuration>